:root{
    --primary-color:#182825;
    --secondary-color:#016FB9;
    --accent1-color:#22AED1;
    --accent2-color:#6D8EA0;
}
header,footer,.grid{
    max-width: 840px;
    margin: 0 auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
nav a{
    color:white;
    display: block;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #eee;
    text-decoration: none;
    padding: 20px;
}
h1{
    color: steelblue;
    margin-top: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
img{
   width: 150px; 
   height: auto;
   border: 1px solid steelblue;
   padding: 2px;
   box-shadow: 0 0 30px grey;

}
main{
    max-width: 840px;
}
main img{
    margin: 1rem;
    float: right;
    height: auto;
}
aside{
    position: relative;
    text-align: center;
}
aside img{
 width: 200px;
 height: auto;
}
aside h2{
   position: absolute;
   color:white;
   left: 50%;
   top:10%;
   transform: translate(-50%,-50%);
}
p{
    padding: 0px;
}
footer{
    margin-top: 10px;
    border-top: 2px solid steelblue;
    text-align: center;
}

/* Class Selectors*/
.box{
    margin: 1rem;
    padding: 1.3rem;
    border: 1px solid steelblue;
    background-color: hsl(0, 0%, 93%);
    color: var(--primary-color);
}
.grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 3;
    grid-row: 2;

}
main{
    grid-column: 2/3;
}
aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}